:root {
  --azul: #00214d;
}

* {
  box-sizing: border-box;

}

body {
  line-height: 1.5;
  background-color: white;
  color: black;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.site-header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--azul);
  color: white;
  padding: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0px;
}

.logo {
  width: 95px;
  object-fit: contain;
}

.site-body {
  width: 100%;
  margin: 30px;
}

.site-body section {
  width: 80%;
}

.site-name {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 28px;
  color: white;
  margin: 0;
  margin-top: 4px;
}

.nav-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.barra {
  position: relative; 
  display: inline-block;
}

.search-bar {
  width: 500px;
  height: 50px;
  padding: 10px;
  padding-right: 40px; 
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-sizing: border-box;
}

.search-icon {
  position: absolute;
  top: 50%; 
  right: 15px; 
  transform: translateY(-50%);
  font-size: 20px; 
  color: #00214d; 
}

.barra input {
  width: 500px;
  height: 50px;
  border-radius: 8px;
  padding: 10px;
  transition: 0.7s all;
}

.barra input:focus {
  width: 700px;
  transition: 0.7s all;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.login-main {
  display: flex;
  align-items: center;
  gap: 8px;
}

.login a,
.login i {
  display: grid;
  place-items: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.login a:hover {
  transition: 0.6 all;
  text-decoration: underline;
}

.login .fa-user {
  font-size: 20px;
  background-color: #08346d;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.login a:last-child {
  align-self: flex-end; 
    margin: auto; 
}

@media screen and (max-width:500px) {
  .barra {
    display: none;
  }
}